<div class="container">

  <h1 class="title">{{name}}</h1>

	<div class="row">
		<span class="title">Before pipe:</span>
		<span class="content">{{ content }}</span>
	</div>

	<div class="row">
		<span class="title">After pipe:</span>
		<span class="content">
      {{ 
        content | slugify: {
          unique: true,
          uniqueOptions: {
            randomLength: 6,
            chars: ['lowercase', 'numeric'],
            separator: '-'
          }
        }
      }}
    </span>
	</div>

</div>